header {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 16px;
  background-color: green;
}

.headNavigations {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      padding: 0px 5px;
    }
  }
}
