.res-card {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 325px;
  width: 200px;
  background: #f0f0f0;
  overflow: hidden;
  border-radius: 2%;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    // box-shadow: 0 0 10px #bbb8b9;
  }
  .res-img {
    padding: 2px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .res-name {
    font-weight: 600;
  }
  .res-details {
    background: #bdb5b5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .res-review {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      .res-rating {
        display: flex;
        align-items: center;
        img {
          padding-right: 5px;
        }
      }
    }
    .res-cuisine {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
