body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.mainContainer {
  width: 100%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.search {
  padding: 10px;
}
